<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
      <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> -->
      <span><img src="assets/images/logo/abc.png" alt="" width="150"></span>
    </a>

    <div class="header_header__desktop__options__qFZfK">
      <a class="header_header__desktop__options__icon__T_5sS" href="/checkout">
        <span class="header_header__desktop__options__icon__text__W4bVH">Cart</span>
        <span class="header_header__desktop__options__icon__cartCount__rRqW6">1</span>
        <svg width="1em" height="1em" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="m3.208 3.792 2.427.42L6.76 17.596a2.1 2.1 0 0 0 2.1 1.928h12.727a2.1 2.1 0 0 0 2.082-1.803l1.108-7.652a1.565 1.565 0 0 0-1.325-1.772c-.074-.01-17.426-.016-17.426-.016M16.48 12.594h3.235" stroke="#2F3032" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8.347 23.57a.635.635 0 1 1 0 1.269.635.635 0 0 1 0-1.27ZM21.507 23.57a.636.636 0 1 1 0 1.27.636.636 0 0 1 0-1.27Z" fill="#2F3032" stroke="#2F3032" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a>
          <div class="header_header__desktop__options__icon__T_5sS"><span class="header_header__desktop__options__icon__text__W4bVH">Profile</span><svg width="1em" height="1em" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="M13.982 17.904c-4.512 0-8.365.682-8.365 3.414 0 2.733 3.829 3.44 8.365 3.44 4.512 0 8.365-.684 8.365-3.415s-3.828-3.44-8.365-3.44Z" stroke="#2F3032" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path clip-rule="evenodd" d="M13.982 14.007A5.362 5.362 0 1 0 8.62 8.645a5.344 5.344 0 0 0 5.325 5.362h.037Z" stroke="#2F3032" stroke-width="1.429" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></div>
    &nbsp;   &nbsp;
    <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
      <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
    </form> -->
    
  </div>
</header>

<nav class="py-2 bg-body-tertiary border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2 active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">About</a></li>
      <li>
        
        <button type="button" class="btn btn-outline-primary">Book a Test</button></li>
        &nbsp;
        <li>
        
          <button type="button" class="btn btn-outline-primary">Booking & Reports</button></li>
    </ul>
    <!-- <ul class="nav">
      <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2" [routerLink]="['/authentication/login']">Login</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2" [routerLink]="['/authentication/register']">Sign up</a></li>
    
    </ul> -->
    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2" [routerLink]="['/authentication/login']">Login</button>
      <button type="button" class="btn btn-primary"  [routerLink]="['/authentication/register']">Sign-up</button>
    </div>
  </div>
</nav>




<!-- <header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <span><img src="assets/images/logo/abc.png" alt="" width="150"></span>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
              </li>
            <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
            <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            <li>
        
               <button type="button" class="btn btn-outline-primary">Book an appointment</button></li>
         
          </ul>
    
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
          </form>
  
          <div class="text-end">
            <button type="button" class="btn btn-outline-light me-2" [routerLink]="['/authentication/login']">Login</button>
            <button type="button" class="btn btn-warning" [routerLink]="['/authentication/register']">Sign-up</button>
          </div>
      </div>
    </div>
    </nav>
    </header> -->




