
<!--footer-->
<footer class="footer">
    <div class="container"> 
        <div class="row">
          <div class="col-12 col-sm-4 col-md-4">
            <h5>Address</h5>
            <ul class="nav flex-column">
              <li class="nav-link p-0 text-muted">
                <p>ClinicPath Pathology- California Office
                  <br>5132 Dartmoor Circle, Fairfield, CA 94534
                  <br>Phone: +1 (415) 634-0137 , +1 (818) 510-9014
                  </p>          
              </li>
            </ul>
          </div>
  
          <!-- Get in touch is currently not required will be implimented later -->
          <div class="col-12 col-sm-4 col-md-4">
             <h5>Get In Touch</h5>
            <ul class="nav flex-column">
              <li class="nav-link p-0 text-muted">
                <p><b>Operation Head:-</b> Suhasini Rao<br/><b>Email:</b> suhasini@tridsvalidation.com, contact@tridsvalidation.com  <br/> <b>Phone:</b> +1 (415) 634-2205</p>
              </li>
         
            </ul>
          </div>
  
          <div class="col-12 col-sm-4 col-md-4">
        
              <form>
                <h2>Know More</h2>
            
                <div class="d-flex w-100 gap-2">
                  <!-- <label for="newsletter1" class="visually-hidden">Email address</label> -->
                  <ul class="Footer_links__fUg_J" style="list-style-type: none;">
                    <li class=""><a >About us</a></li>
                    <li class=""><a>Contact us</a></li>
                    <li class=""><a >Career</a></li>
                    <li class=""><a >Media Coverage</a></li>
                    <li class=""><a >FAQs</a></li>
                    <li class=""><a >Our Labs &amp; Technology</a>
                    </li>
                  </ul>
                </div>
              </form>
         
        
          </div>
          <div class="col-12 col-sm-4 col-md-4">
            <div>
              <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of whats new and exciting from us.</p>
                <div class="d-flex w-100 gap-2">
              
                  <form >
                  <input id="newsletter" name="newsletter" type="text" class="form-control" placeholder="Email address">
                  </form>
                  <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
              </form>
            </div>
         
          </div>
        </div>
        <div class="d-flex justify-content-between border-top pt-3" style="  margin-top: 0.25rem !important;">

    
          <div class="d-flex">
            <div class="p-2 flex-fill">   Copyright ©️  {{today.getFullYear()}} ClinicPath Pathology Inc. Powered by<a>&nbsp;Agram Infotech Pvt. Ltd.</a></div>
           
            <div class="p-2 flex-fill">
              <div class="mx-auto p-2">
                <ul class="list-unstyled d-flex"  style="  margin-top: -0.35rem !important;">
                  Follow us on
                  <li class="ms-3"><a class="link-dark" title="Linked In" href="https://www.linkedin.com/company/tridsvalidation"><img src="https://img.icons8.com/color/22/000000/linkedin.png"/></a></li>
                  <li class="ms-3"><a class="link-dark" title="Facebook" href="#"><img src="https://img.icons8.com/color/22/000000/facebook-new.png"/></a></li>
                  <li class="ms-3"><a class="link-dark" title="Twitter" href="#"><img src="https://img.icons8.com/color/22/000000/twitter.png"/></a></li>
                  <li class="ms-3"><a class="link-dark" title="Instagram" href="#"><img src="https://img.icons8.com/color/22/000000/instagram-new.png"/></a></li>
                </ul></div>
              </div>
           
          </div>
  
        </div>
    </div>
  </footer>
  
  